@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .logo-size {
    height: 40px;
    width: 40px;
    margin-right: 0;
  }
  .bg-hero {
    height: auto;
    text-align: center;
  }
  .content {
    background-color: white;
    height: auto;
  }
  .ifr-size {
    width: 100%;
    height: auto;
    max-width: 100vw;
  }
  .mari {
    font-size: 2.25rem;
  }
  .membuat {
    font-size: 1.25rem;
  }
  .kali {
    font-size: 0.6rem;
  }
  .disnone {
    display: none;
  }
  .ahaidede {
    float: right;
  }
}
