* {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: 3px solid black;
}
.logo-size {
  height: 75px;
  width: 75px;
  margin-right: 1rem;
}
.navbar {
  background: transparent;
}

.bg-hero {
  height: 100vh;
  text-align: center;
  padding-top: -10vh;
}

.button-learn {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid slateblue;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: slateblue;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.button-learn:before {
  transition: 0.2s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: midnightblue;
  z-index: -1;
}

.button-learn:hover,
.button-learn:focus {
  color: white;
}

.button-learn:hover:before,
.button-learn:focus:before {
  transition: 0.2s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.button-learn:active {
  transform: scale(0.9);
}

.logo-bs {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 400px;
}
.cont-down {
  position: absolute;
  top: 20vh;
}

.navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0, 0, 0, 0.4);
}

.marg-judul {
  margin: 1.5rem 0 1.5rem 0;
}

.mari {
  font-size: 4.25rem;
}
.membuat {
  font-size: 1.75rem;
}
.kali {
  font-size: 1rem;
}
.content {
  background-color: white;
  height: 100vh;
}
.ifr-size {
  width: 100%;
  height: 75vh;
  max-width: 100vw;
}
.warn-size {
  width: 100%;
  height: auto;
  max-width: 100px;
  max-height: 100px;
}
.text-content {
  height: 100vh;
}

/* Carousel */
body {
  background: #eee;
}
.brands {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.brands_slider_container {
  height: 120px;
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 130px;
  background: #fff;
}

.brands_slider {
  height: 100%;
}

.brands_item {
  height: 100%;
  opacity: 0.3;
}

.brands_item img {
  max-width: 100%;
}

.brands_nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 5px;
  cursor: pointer;
}

.brands_nav i {
  color: #e5e5e5;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.brands_nav:hover i {
  color: #676767;
}

.brands_prev {
  left: 40px;
}

.brands_next {
  right: 40px;
}

.brand-size {
  width: 100%;
  height: auto;
  max-width: 100px;
  max-height: 75px;
  filter: grayscale(100%);
}
