* {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: 3px solid black;
}
.logo-size {
  height: 75px;
  width: 75px;
  margin-right: 1rem;
}
.navbar {
  background: transparent;
}

.bg-hero {
  height: 100vh;
  text-align: center;
  padding-top: -10vh;
}

.button-learn {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid slateblue;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: slateblue;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.button-learn:before {
  transition: 0.2s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: midnightblue;
  z-index: -1;
}

.button-learn:hover,
.button-learn:focus {
  color: white;
}

.button-learn:hover:before,
.button-learn:focus:before {
  transition: 0.2s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.button-learn:active {
  transform: scale(0.9);
}

.logo-bs {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 400px;
}
.cont-down {
  position: absolute;
  top: 20vh;
}

.navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0, 0, 0, 0.4);
}

.marg-judul {
  margin: 1.5rem 0 1.5rem 0;
}

.mari {
  font-size: 4.25rem;
}
.membuat {
  font-size: 1.75rem;
}
.kali {
  font-size: 1rem;
}
.content {
  background-color: white;
  height: 100vh;
}
.ifr-size {
  width: 100%;
  height: 75vh;
  max-width: 100vw;
}
.warn-size {
  width: 100%;
  height: auto;
  max-width: 100px;
  max-height: 100px;
}
.text-content {
  height: auto;
}

/* Carousel */

.brands {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.brands_slider_container {
  height: 120px;
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding-left: 75px;
  padding-right: 75px;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  padding-bottom: 130px;
  background: #fff;
}

.brands_slider {
  height: 100%;
}

.brands_item {
  height: 100%;
  opacity: 0.3;
}

.brands_item img {
  max-width: 100%;
}

.brands_nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 5px;
  cursor: pointer;
}

.brands_nav i {
  color: #e5e5e5;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.brands_nav:hover i {
  color: #676767;
}

.brands_prev {
  left: 40px;
}

.brands_next {
  right: 40px;
}

.brand-size {
  width: 100%;
  height: auto;
  max-width: 100px;
  max-height: 75px;
  filter: grayscale(100%);
}

.card-ling {
  text-decoration: none;
}

.disnone {
  display: block;
}
.highlight pre {
  padding: 0;
  margin-top: 0.625rem;
  margin-right: 1.875rem;
  margin-bottom: 0.625rem;
  white-space: pre;
  background-color: transparent;
  border: 0;
}

.bottom-bawah {
  position: fixed;
  top: 100%;
  transform: translateY(-125%);
  right: 0;
  margin-right: 1.25rem;
}

.buttop {
  width: 60px;
  height: 60px;
  background-color: #004dff;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  border: #004dff;
  transition: 0.5s;
}

.buttop:active {
  background-color: #020cd1;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: auto;
  margin-right: auto;
  margin-top: 37.5%;
  margin-bottom: 60%;
  border-bottom: 15px solid white;
}

/* Copas Bootstrap */
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}
.highlight pre code {
  font-size: inherit;
  color: #212529;
  word-wrap: normal;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}
code {
  font-size: 0.875em;
  color: var(--bs-code-color);
  word-wrap: break-word;
}
code,
kbd,
pre,
samp {
  font-family: var(--bs-font-monospace);
  font-size: 1em;
}
.cp {
  color: red;
}
:root {
  --base00: #fff;
  --base01: #f5f5f5;
  --base02: #c8c8fa;
  --base03: #565c64;
  --base04: #030303;
  --base05: #333;
  --base06: #fff;
  --base07: #9a6700;
  --base08: #bc4c00;
  --base09: #087990;
  --base0A: #795da3;
  --base0B: #183691;
  --base0C: #183691;
  --base0D: #795da3;
  --base0E: #a71d5d;
  --base0F: #333;
}
.hl {
  background-color: var(--base02);
}
.c {
  color: var(--base03);
}
.err {
  color: var(--base08);
}
.k {
  color: var(--base0E);
}
.l {
  color: var(----base09);
}
.n {
  color: var(--base08);
}
.o {
  color: var(--base05);
}
.p {
  color: var(--base05);
}
.cm {
  color: var(--base04);
}
.cp {
  color: var(--base08);
}
.c1 {
  color: var(--base03);
}
.cs {
  color: var(--base04);
}
.gd {
  color: var(--base08);
}
.ge {
  font-style: italic;
}
.gh {
  font-weight: 600;
  color: #fff;
}
.gi {
  color: var(--bs-success);
}
.gp {
  font-weight: 600;
  color: var(--base04);
}
.gs {
  font-weight: 600;
}
.gu {
  font-weight: 600;
  color: var(--base0C);
}
.kc {
  color: var(--base0E);
}
.kd {
  color: var(--base0E);
}
.kn {
  color: var(--base0C);
}
.kp {
  color: var(--base0E);
}
.kr {
  color: var(--base0E);
}
.kt {
  color: var(--base0A);
}
.ld {
  color: var(--base0C);
}
.m {
  color: var(--base09);
}
.s {
  color: var(--base0C);
}
.na {
  color: var(--base0A);
}
.nb {
  color: var(--base05);
}
.nc {
  color: var(--base07);
}
.no {
  color: var(--base08);
}
.nd {
  color: var(--base07);
}
.ni {
  color: var(--base08);
}
.ne {
  color: var(--base08);
}
.nf {
  color: var(--base0B);
}
.nl {
  color: var(--base05);
}
.nn {
  color: var(--base0A);
}
.nx {
  color: var(--base0A);
}
.py {
  color: var(--base08);
}
.nt {
  color: var(--base08);
}
.nv {
  color: var(--base08);
}
.ow {
  color: var(--base0C);
}
.w {
  color: #fff;
}
.mf {
  color: var(--base09);
}
.mh {
  color: var(--base09);
}
.mi {
  color: var(--base09);
}
.mo {
  color: var(--base09);
}
.sb {
  color: var(--base0C);
}
.sc {
  color: #fff;
}
.sd {
  color: var(--base04);
}
.s2 {
  color: var(--base0C);
}
.se {
  color: var(--base09);
}
.sh {
  color: var(--base0C);
}
.si {
  color: var(--base09);
}
.sx {
  color: var(--base0C);
}
.sr {
  color: var(--base0C);
}
.s1 {
  color: var(--base0C);
}
.ss {
  color: var(--base0C);
}
.bp {
  color: var(--base05);
}
.vc {
  color: var(--base08);
}
.vg {
  color: var(--base08);
}
.vi {
  color: var(--base08);
}
.il {
  color: var(--base09);
}
.m + .o {
  color: var(--base03);
}
.language-sh .c {
  color: var(--base03);
}
